.bot_button, .not_button, .thanks {
    /*font-weight: bold;    */
    font-size: 120%;
    padding-right: 10px;
    /*float: right;*/
}

.bot_button {
    color: red ;
}

.not_button {
    color: green !important;
}

.thanks {
    color: grey;
    visibility: hidden;
}

.k_nForum_Actions {
    width: 80% !important;
    /*width: auto;*/
}

.k_nForum_CommentInfo {
    width: 20% !important;
}

/*Hide the timestamp*/
.k_nForum_CommentInfo span:nth-child(1), .k_nForum_CommentInfo span:nth-child(2) {
    display: none;
}
