.not_button span, .bot_button span {
    font-size: 13px!important;
    /*margin-right: 5px!important;*/
    font-weight: 400;
}

.bot_button span {
    color: red !important;
}

.not_button span {
    color: green !important;
}

.not_button, .bot_button {
    padding: 4px 10px !important;
    line-height: 1em!important;
    margin-right: 5px!important;
    margin-bottom: 22px!important;
    float: left!important;
    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out!important;
}
